
<div>
    <label>Id</label>
    <input type="text" readonly="readonly" value="@ViewBag.Id"/>
    <br/>
    
    <label>Фамилия</label>
    <input type="text" readonly="readonly" value="@ViewBag.LastName"/>
    <br/>
    
    <label>Имя</label>
    <input type="text" readonly="readonly" value="@ViewBag.FirstName"/>
    <br/>
    
    <label>Отчетсво</label>
    <input type="text" readonly="readonly" value="@ViewBag.Patronymic"/>
    <br/>
    
    <label>Сумма в банке</label>
    <input type="text" readonly="readonly" value="@ViewBag.DepositAmount"/>
    <br/>
    
    <label>День рождения</label>
    <input type="text" readonly="readonly" value="@ViewBag.Birthday"/>
    <br/>
</div>